
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>
<li>@Html.ActionLink("ShowListStudent", "ShowListStudent", "Student")</li>
<li>@Html.ActionLink("AddStudent", "AddStudent", "Student")</li>
<li>@Html.ActionLink("UpdateStudent", "UpdateStudent", "Student")</li>
<li>@Html.ActionLink("DeleteStudent", "DeleteStudent", "Student")</li>

