@model ASP_NET_MVC.Models.University

@{
    ViewBag.Title = "AddUniversity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Department</h2>

@using (@Html.BeginForm("SaveUniversity", "University", FormMethod.Post))
{
    <div class="form">
        @Html.LabelFor(m => m.U_id, "University ID")
        @Html.TextBoxFor(m => m.U_id, new { @class = "form-control" })
    </div>
    <div><input type="submit" value="Submit" class=" btn btn-success" /></div>
}
<style>
    .btn {
        margin: 10px;
    }
</style>