@model IEnumerable<ASP_NET_MVC.Models.University>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>University</h2>

<button id="createNewButton" class="btn-success" onclick="OpenAddNewForm()">Create New</button>
<div class="grid">
    <table class="table" id="table">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>NAME</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var uni in Model)
            {
                <tr id=@uni.U_id>
                    <td><b onclick="ViewDetails('@uni.U_id')">@uni.U_id</b></td>
                    <td> @uni.name</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="info">
        <h2 id="notification"></h2>
        <div id="detailSegment">
            <h4 id="id"></h4>
            <h4 id="name"></h4>
            <button id="updateBut" class="btn-success" onclick="OpenUpdateForm()">Edit</button>
            <button id="deleteBut" class="btn-danger" onclick="DeleteUniversity()">Remove</button>
        </div>
        <div id="addSegment">
            <form id="addForm">
                University ID:
                <input class="form-control" type="text" value="" name="Uid" /><br />
                Name:
                <input class="form-control" type="text" value="" name="Dname" /><br />
                <button class="btn-success" type="button" id="addButton">Add</button>
            </form>
        </div>
        <div id="updateSegment">
            <form id="updateForm">
                University ID:
                <input class="form-control" type="text" value="" name="Uid" readonly /><br />
                Name:
                <input class="form-control" type="text" value="" name="Dname" /><br />
                <button class="btn-success" type="button" id="saveButton" onclick="UpdateUniversity()">Save</button>
            </form>
        </div>
    </div>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .table, .info {
        border: ridge;
        padding: 10px;
    }

    #deleteBut, #updateBut, #addSegment, #updateSegment {
        display: none;
    }
</style>

@section scripts
{
    <script>
        var uni = {
            id: "",
            name:""
        }
        var outerID;
        //Show University's Details
        function ViewDetails(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const u = JSON.parse(this.responseText);
                document.getElementById("notification").innerHTML = "DETAILS";
                document.getElementById("addSegment").style.display = "none";
                document.getElementById("updateSegment").style.display = "none";
                document.getElementById("detailSegment").style.display = "unset";
                document.getElementById("deleteBut").style.display = "inline";
                document.getElementById("updateBut").style.display = "inline";

                document.getElementById("id").innerHTML = "ID: " + `${u.U_id}`;
                document.getElementById("name").innerHTML = "Name: " + `${u.name}`;
                outerID = id;
                uni.id = u.U_id; uni.name = u.name;
            }
            xhttp.open("GET", "..//../AjaxUniversity/Details" + `/${id}`);
            xhttp.send();
        }

        //Add new University
        function OpenAddNewForm() {
            document.getElementById("notification").innerHTML = "ADD NEW UNIVERSITY";
            document.getElementById("addSegment").style.display = "unset";
            document.getElementById("updateSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var addUniversityForm = document.getElementById("addForm");
            document.getElementById("addButton").addEventListener("click", function () {
                CreateNew(addUniversityForm.childNodes[1].value,
                    addUniversityForm.childNodes[4].value)
            })
        }
        function CreateNew(Uid,Uname) {
            if (Uid == "" || Uname=="" ) {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                var u = JSON.parse(this.responseText);
                if (!u) {
                    alert("University existed");
                    document.getElementById("notification").innerHTML = "";
                    document.getElementById("addSegment").style.display = "none";
                    return;
                }
                alert("University Added");

                document.getElementById("notification").innerHTML = "";
                document.getElementById("addSegment").style.display = "none";
                var table = document.getElementById("table");
                var row = table.insertRow(1);
                row.id = `${Uid}`;
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var bold = document.createElement("b");
                var textNode = document.createTextNode(`${Uid}`)
                bold.appendChild(textNode);
                cell1.appendChild(bold);
                cell2.innerHTML = Uname;
                cell1.onclick = function () { ViewDetails(`${Uid}`); }
            }
            xhttp.open("GET", "..//../AjaxUniversity/CreateNew?U_id=" + Uid + "&name=" + Uname);
            xhttp.send();
        }

        //Edit University's Information
        function OpenUpdateForm() {
            document.getElementById("notification").innerHTML = "EDIT UNIVERSITY";
            document.getElementById("updateSegment").style.display = "unset";
            document.getElementById("addSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var updateUniversityForm = document.getElementById("updateForm");
            updateUniversityForm.childNodes[1].value = uni.id;
            updateUniversityForm.childNodes[4].value = uni.name
        }
        function UpdateUniversity() {
            var updateUniversityForm = document.getElementById("updateForm");
            uni.id = updateUniversityForm.childNodes[1].value;
            uni.name = updateUniversityForm.childNodes[4].value;

            if (uni.id == "" || uni.name=="" ) {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const u = JSON.parse(this.responseText);
                var row = document.getElementById(`${u.U_id}`);
                row.childNodes[3].innerHTML = uni.name;
                document.getElementById("notification").innerHTML = "";
                document.getElementById("updateSegment").style.display = "none";
                alert("Updates Saved");
            }
            xhttp.open("GET", "..//../AjaxUniversity/Update?U_id=" + uni.id + "&name=" + uni.name );
            xhttp.send();
        }

        //Delete University
        function DeleteUniversity() {
            var confirmed = confirm("Confirm deletion?")
            if (confirmed == true) {
                const xhttp = new XMLHttpRequest();

                xhttp.onload = function () {
                    if (u) {
                        document.getElementById(`${outerID}`).style.display = "none";
                        document.getElementById("notification").innerHTML = "";
                        document.getElementById("detailSegment").style.display = "none";
                        alert("Deleted!");
                    }
                }
                xhttp.open("GET", "..//../AjaxUniversity/Delete" + `/${outerID}`);
                xhttp.send();
            }
        }
    </script>
}



