@model IEnumerable<ASP_NET_MVC.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="tit">Department</h2>

<button id="createNewButton" class="btn-success" onclick="OpenAddNewForm()">Create New</button>
<div class="grid">
    <table class="table" id="table">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>UNIVERSITY</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var dep in Model)
            {
                <tr id=@dep.D_id>
                    <td><b onclick="ViewDetails('@dep.D_id')">@dep.D_id</b></td>
                    <td> @dep.uni</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="info">
        <h2 id="notification"></h2>
        <div id="detailSegment">
            <h4 id="id"></h4>
            <h4 id="uni"></h4>
            <h4 id="name"></h4>
            <button id="updateBut" class="btn-success" onclick="OpenUpdateForm()">Edit</button>
            <button id="deleteBut" class="btn-danger" onclick="DeleteDepartment()">Remove</button>
        </div>
        <div id="addSegment">
            <form id="addForm">
                Department ID:
                <input class="form-control" type="text" value="" name="Did" /><br />
                University: 
                <input class="form-control" type="text" value="" name="Duni" /><br />
                Name:
                <input class="form-control" type="text" value="" name="Dname" /><br />
                <button class="btn-success" type="button" id="addButton">Add</button>
            </form>
        </div>
        <div id="updateSegment">
            <form id="updateForm">
                Department ID:
                <input class="form-control" type="text" value="" name="Did" readonly /><br />
                University:
                <input class="form-control" type="text" value="" name="Duni" /><br />
                Name:
                <input class="form-control" type="text" value="" name="Dname" /><br />
                <button class="btn-success" type="button" id="saveButton" onclick="UpdateDepartment()">Save</button>
            </form>
        </div>
    </div>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .table, .info {
        border: ridge;
        padding: 10px;
    }

    #deleteBut, #updateBut, #addSegment, #updateSegment {
        display: none;
    }
</style>

@section scripts
{
    <script>
        var dep = {
            id: "",
            uni: "",
            name:""
        }
        var outerID;
        //Show Department's Details
        function ViewDetails(id) {
            document.getElementById("tit").innerHTML = id;
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const d = JSON.parse(this.responseText);
                document.getElementById("notification").innerHTML = "DETAILS";
                document.getElementById("addSegment").style.display = "none";
                document.getElementById("updateSegment").style.display = "none";
                document.getElementById("detailSegment").style.display = "unset";
                document.getElementById("deleteBut").style.display = "inline";
                document.getElementById("updateBut").style.display = "inline";

                document.getElementById("id").innerHTML = "ID: " + `${d.D_id}`;
                document.getElementById("uni").innerHTML = "University: " + `${d.uni}`;
                document.getElementById("name").innerHTML = "Name: " + `${d.name}`;
                outerID = id;
                dep.id = d.D_id; dep.uni = d.uni; dep.name = d.name;
            }
            xhttp.open("GET", "https://localhost:44396/AjaxDepartment/Details" + `/${id}`);
            xhttp.send();
        }

        //Add new Department
        function OpenAddNewForm() {
            document.getElementById("notification").innerHTML = "ADD NEW DEPARTMENT";
            document.getElementById("addSegment").style.display = "unset";
            document.getElementById("updateSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var addDepartmentForm = document.getElementById("addForm");
            document.getElementById("addButton").addEventListener("click", function () {
                CreateNew(addDepartmentForm.childNodes[1].value,
                    addDepartmentForm.childNodes[4].value,
                    addDepartmentForm.childNodes[7].value)
            })
        }
        function CreateNew(Did,Duni,Dname) {
            if (Did == "" || Duni == ""||Dname=="" ) {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                var d = JSON.parse(this.responseText);
                if (!d) {
                    alert("Department existed");
                    document.getElementById("notification").innerHTML = "";
                    document.getElementById("addSegment").style.display = "none";
                    return;
                }
                alert("Department Added");

                document.getElementById("notification").innerHTML = "";
                document.getElementById("addSegment").style.display = "none";
                var table = document.getElementById("table");
                var row = table.insertRow(1);
                row.id = `${Did}`;
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var bold = document.createElement("b");
                var textNode = document.createTextNode(`${Did}`)
                bold.appendChild(textNode);
                cell1.appendChild(bold);
                cell2.innerHTML = Duni;
                cell1.onclick = function () { ViewDetails(`${Did}`); }
            }
            xhttp.open("GET", "https://localhost:44396/AjaxDepartment/CreateNew?D_id=" + Did + "&uni="+Duni+"&name="+Dname);
            xhttp.send();
        }

        //Edit Department's Information
        function OpenUpdateForm() {
            document.getElementById("notification").innerHTML = "EDIT DEPARTMENT";
            document.getElementById("updateSegment").style.display = "unset";
            document.getElementById("addSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var updateDepartmentForm = document.getElementById("updateForm");
            updateDepartmentForm.childNodes[1].value = dep.id;
            updateDepartmentForm.childNodes[4].value = dep.uni;
            updateDepartmentForm.childNodes[7].value = dep.name
        }
        function UpdateDepartment() {
            var updateDepartmentForm = document.getElementById("updateForm");
            dep.id = updateDepartmentForm.childNodes[1].value;
            dep.uni = updateDepartmentForm.childNodes[4].value;
            dep.name = updateDepartmentForm.childNodes[7].value;

            if (dep.id == "" || dep.uni == ""||dep.name=="" ) {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const d = JSON.parse(this.responseText);
                var row = document.getElementById(`${d.D_id}`);
                row.childNodes[3].innerHTML = dep.uni;
                document.getElementById("notification").innerHTML = "";
                document.getElementById("updateSegment").style.display = "none";
                alert("Updates Saved")
            }
            xhttp.open("GET", "https://localhost:44396/AjaxDepartment/Update?D_id=" + dep.id + "&uni=" + dep.uni+"&name="+dep.name );
            xhttp.send();
        }

        //Delete Department
        function DeleteDepartment() {
            var confirmed = confirm("Confirm deletion?")
            if (confirmed == true) {
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    const d = JSON.parse(this.responseText);
                    if (d) {
                        document.getElementById(`${outerID}`).style.display = "none";
                        document.getElementById("notification").innerHTML = "";
                        document.getElementById("detailSegment").style.display = "none";
                        alert("Deleted!");
                    }
                }
                xhttp.open("GET", "https://localhost:44396/AjaxDepartment/Delete" + `/${outerID}`);
                xhttp.send();
            }
        }
    </script>
}


