@model IEnumerable<ASP_NET_MVC.Models.Student>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>

<button id="createNewButton" class="btn-success" onclick="OpenAddNewForm()">Create New</button>
<div class="grid">
    <table class="table" id="table">
        <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>NAME</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr id=@student.S_id>
                    <td><b onclick="ViewDetails(@student.S_id)">@student.S_id</b></td>
                    <td> @student.name </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="info">
        <h2 id="notification"></h2>
        <div id="detailSegment">
            <h4 id="id"></h4>
            <h4 id="name"></h4>
            <h4 id="gender"></h4>
            <h4 id="dob"></h4>
            <h4 id="class"></h4>
            <button id="updateBut" class="btn-success" onclick="OpenUpdateForm()">Edit</button>
            <button id="deleteBut" class="btn-danger" onclick="DeleteStudent()">Remove</button>
        </div>
        <div id="addSegment">
            <form id="addForm">
                Student ID:
                <input class="form-control" type="text" value="" name="Sid" /><br />
                Name:
                <input class="form-control" type="text" value="" name="Sname" /><br />
                Birthday:
                <input class="form-control" type="date" value="" name="Sdob" /><br />
                Gender:
                <input class="form-control" type="text" value="" name="Sgender" /><br />
                Class:
                <input class="form-control" type="text" value="" name="Sclass" /><br />
                <button class="btn-success" type="button" id="addButton">Add</button>
            </form>
        </div>
        <div id="updateSegment">
            <form id="updateForm">
                Student ID:
                <input class="form-control" type="text" value="" name="Sid" readonly/><br />
                Name:
                <input class="form-control" type="text" value="" name="Sname" /><br />
                Birthday:
                <input class="form-control" type="date" value="" name="Sdob" /><br />
                Gender:
                <input class="form-control" type="text" value="" name="Sgender" /><br />
                Class:
                <input class="form-control" type="text" value="" name="Sclass" /><br />
                <button class="btn-success" type="button" id="saveButton" onclick="UpdateStudent()">Save</button>
            </form>
        </div>
    </div>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    .table, .info {
        border: ridge;
        padding: 10px;
    }
    #deleteBut, #updateBut,#addSegment,#updateSegment{
        display: none;
    }
</style>

@section scripts
{
    <script>
        var student = {
            id:"",
            name: "",
            dob: "",
            gender: "",
            Class:""
        }
        var outerID;
        //Show Student's Details
        function ViewDetails(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const s = JSON.parse(this.responseText);
                document.getElementById("notification").innerHTML = "DETAILS";
                document.getElementById("addSegment").style.display = "none";
                document.getElementById("updateSegment").style.display = "none";
                document.getElementById("detailSegment").style.display = "unset";
                document.getElementById("deleteBut").style.display = "inline";
                document.getElementById("updateBut").style.display = "inline";

                document.getElementById("id").innerHTML = "ID: " + `${s.S_id}`;
                document.getElementById("name").innerHTML = "Name: " + `${s.name}`;
                document.getElementById("class").innerHTML = "Class: " + `${s.Class}`;
                document.getElementById("gender").innerHTML = "Gender: " + `${s.gender}`;
                document.getElementById("dob").innerHTML = "Birthday: " + `${s.dob}`;

                outerID = id;
                student.id = s.S_id; student.name = s.name; student.dob = s.dob; student.gender = s.gender; student.Class = s.Class;
            }
            xhttp.open("GET", "https://localhost:44396/AjaxStudent/Details" + `/${id}`);
            xhttp.send();
        }

        //Add new Student
        function OpenAddNewForm() {
            document.getElementById("notification").innerHTML = "ADD NEW STUDENT";
            document.getElementById("addSegment").style.display = "unset";
            document.getElementById("updateSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var addStudentForm = document.getElementById("addForm");
            document.getElementById("addButton").addEventListener("click", function () {
                CreateNew(addStudentForm.childNodes[1].value,
                    addStudentForm.childNodes[4].value,
                    addStudentForm.childNodes[10].value,
                    addStudentForm.childNodes[13].value)
            })
        }
        function CreateNew(Sid, Sname, Sgender, Sclass) {
            if (Sid == "" || Sname == "" || Sgender == "" || Sclass == "") {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                var s = JSON.parse(this.responseText);
                if (!s) {
                    alert("Student existed");
                    document.getElementById("notification").innerHTML = "";
                    document.getElementById("addSegment").style.display = "none";
                    return;
                }
                alert("Student Added");

                document.getElementById("notification").innerHTML = "";
                document.getElementById("addSegment").style.display = "none";
                var table = document.getElementById("table");
                var row = table.insertRow(1);
                row.id = `${Sid}`;
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var bold = document.createElement("b");
                var textNode = document.createTextNode(`${Sid}`)
                bold.appendChild(textNode);
                cell1.appendChild(bold);
                cell2.innerHTML = Sname;
                cell1.onclick = function () { ViewDetails(`${Sid}`); }
            }
            xhttp.open("GET", "https://localhost:44396/AjaxStudent/CreateNew?S_id=" + Sid + "&name=" + Sname + "&gender=" + Sgender + "&Class=" + Sclass);
            xhttp.send();
        }

        //Edit Student's Information
        function OpenUpdateForm() {
            document.getElementById("notification").innerHTML = "EDIT STUDENT";
            document.getElementById("updateSegment").style.display = "unset";
            document.getElementById("addSegment").style.display = "none";
            document.getElementById("detailSegment").style.display = "none";

            var updateStudentForm = document.getElementById("updateForm");
            updateStudentForm.childNodes[1].value = student.id;
            updateStudentForm.childNodes[4].value = student.name;
            updateStudentForm.childNodes[7].value = student.dob;
            updateStudentForm.childNodes[10].value = student.gender;
            updateStudentForm.childNodes[13].value = student.Class;
        }
        function UpdateStudent() {
            var updateStudentForm = document.getElementById("updateForm");
            student.id = updateStudentForm.childNodes[1].value;
            student.name = updateStudentForm.childNodes[4].value;
            student.dob = updateStudentForm.childNodes[7].value;
            student.gender = updateStudentForm.childNodes[10].value;
            student.Class = updateStudentForm.childNodes[13].value;
            if (student.id == "" || student.name == ""  || student.gender == "" || student.Class == "") {
                alert("All information must be filled");
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const s = JSON.parse(this.responseText);
                var row = document.getElementById(`${s.S_id}`);
                row.childNodes[3].innerHTML = s.name;
                document.getElementById("notification").innerHTML = "";
                document.getElementById("updateSegment").style.display = "none";
                alert("Updates Saved")
            }
            xhttp.open("GET", "https://localhost:44396/AjaxStudent/Update?S_id=" + student.id + "&name=" + student.name  + "&gender=" + student.gender + "&Class=" + student.Class);
            xhttp.send();
        }

        //Delete Student
        function DeleteStudent() {
            var confirmed = confirm("Confirm deletion?")
            if (confirmed == true) {
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    const s = JSON.parse(this.responseText);
                    if (s) {
                        document.getElementById(`${outerID}`).style.display = "none";
                        document.getElementById("notification").innerHTML = "";
                        document.getElementById("detailSegment").style.display = "none";
                        alert("Deleted!");
                    }
                }
                xhttp.open("GET", "https://localhost:44396/AjaxStudent/Delete" + `/${outerID}`);
                xhttp.send();
            }
        }
    </script>
}
